    #bowlerHint {
      top: 18px; left: 158px;
      animation-name: press-forward;
      animation-duration: 4.0s;
    }
    #wicketKeeperHint {
      top: -49px; left: 155px;
      animation-name: stop-wicketKeeper;
    }
    #plusOneHint {
      top: -39px; left: 125px;
      --transform: rotate(135deg);
      animation-name: stop-plusOne;
    }
    #plusFourHint {
      top: 86px; left: 198px;
      --transform: rotate(53deg);
      animation-name: stop-plusFour;
    }
    #wideHint {
      top: 30px; left: 158px;
      --transform: rotate(53deg);
      animation-name: stop-plusFour;
    }
    #noBallHint {
      top: 30px; left: 158px;
      animation-name: stop-plusTwo;
    }
    #undoHint {
      bottom: -10px; right: 2px;
      animation-name: press-button;
      animation-duration: 0.5s;
    }
    .hints {
      position: absolute;
      opacity: 0.8;
      color: #000000cc;
      border: none;
      display: none;
      animation-duration: 2.0s;
      animation-timing-function: ease-out;
      animation-direction: reverse;
      animation-iteration-count: infinite;
      animation-play-state: running;
      z-index: 100;
    }
    .hints[data-show-hint="true"] {
      display: block;
    }
    .hints .material-icons {
      font-size: 48px;
    }
    .stars {
      position: absolute;
      left: 0px;
      top: 0px;
      margin-left: -34px;
      margin-top: -16px;
      color: #000000cc;
      text-align: left;
      border: none;
      opacity: 0;
    }
    .gather {
      animation-name: gather;
      animation-duration: 1.0s;
      animation-timing-function: ease-out;
      animation-direction: reverse;
      animation-iteration-count: 1;
      animation-play-state: running;
    }
    @keyframes stop-plusTwo {
            1% {
              transform: translate(80px, 63px);
                opacity: 0;
            }
            30% {
                transform: translate(-80px, -63px);
                opacity: 0;
            }
            31% {
              --transform: rotate(135deg);
              opacity: 0.5;
            }
            90% {
              --transform: rotate(135deg);
                opacity: 0.4;
            }
            100% {
                --transform: rotate(53deg);
                opacity: 0.2;
            }
        }
    @keyframes stop-plusFour {
            1% {
              transform: translate(-80px, 63px);
                opacity: 0;
            }
            30% {
                transform: translate(80px, -63px);
                opacity: 0;
            }
            31% {
              --transform: rotate(135deg);
              opacity: 0.5;
            }
            90% {
              --transform: rotate(135deg);
                opacity: 0.4;
            }
            100% {
                --transform: rotate(53deg);
                opacity: 0.2;
            }
        }
    @keyframes stop-plusOne {
            1% {
              transform: translate(35px, -35px);
                opacity: 0;
            }
            30% {
                transform: translate(-35px, 35px);
                opacity: 0;
            }
            31% {
              --transform: rotate(135deg);
              opacity: 0.5;
            }
            90% {
              --transform: rotate(135deg);
                opacity: 0.4;
            }
            100% {
                --transform: rotate(135deg);
                opacity: 0.2;
            }
        }
    @keyframes stop-wicketKeeper {
            1% {
              transform: translateY(60px);
                opacity: 0;
            }
            30% {
                transform: translateY(-60px);
                opacity: 0;
            }
            31% {
              --transform: scale(.8);
              opacity: 0.5;
            }
            90% {
                --transform: scale(.8);
                opacity: 0.4;
            }
            100% {
                --transform: scale(.8);
                opacity: 0.2;
            }
        }
   @keyframes press-forward {
            1% {
              transform: scale(.8) translateY(240px);
                opacity: 0;
            }
            30% {
                transform: scale(.8) translateY(-240px);
                opacity: 0;
            }
            80% {
              transform: scale(.8);
            }
            90% {
                transform: scale(.8);
                opacity: 1;
            }
            100% {
                transform: scale(1);
                opacity: 0.8;
            }
        }
    @keyframes press-button{
            1% {
              transform: translateY(-15px);
                opacity: 0;
            }
            30% {
                transform: translateY(15px);
                opacity: 0;
            }
            31% {
              opacity: 0.5;
            }
            90% {
                opacity: 0.4;
            }
            100% {
                opacity: 0.2;
            }
        }
    @keyframes gather {
      1% {
        opacity: 0.2;
        transform: scale(0.8);
      }
            3% {
              opacity: 1;
            }
            100% {
              transform: translate(110%, 100%);
              opacity: 1;
            }
    }